<div class="center jumbotron">
  <h1>Welcome to MyRecipes App</h1>
  
  <h2>
    This is the home page for the Professional Ruby on Rails Course on Udemy
  </h2>
  
  <%= link_to "Sign up now!", "", class: "btn-lg btn-success btn" %>
</div>

<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">View recipes as Guest User</h3>
    <h2 class="left">Browse and view recipes as guest and Sign up later</h2>
    <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-small btn-warning" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">View recipes as Guest User</h3>
    <h2 class="left">Browse and view recipes as guest and Sign up later</h2>
    <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-small btn-warning" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">View recipes as Guest User</h3>
    <h2 class="left">Browse and view recipes as guest and Sign up later</h2>
    <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-small btn-warning" %></p>
  </div>
</div>